* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }


@media (max-width: 767px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
    }
}

.collapse label,
.collapse .form-control{
    display:inline-block;
}

.fa-arrow-up,
.fa-arrow-up:hover,
.fa-arrow-down,
.fa-arrow-down:hover
{
background-color: #fff;
    color: #f6e312;
}

.pal{
    font-weight:300;
    font-size:0.8em;
    border: 1px solid #e9ac1a;
    margin: 0;
    overflow: visible;
    text-decoration: none!important;
    width: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    background-color: #f6e312;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#FFF6E312',endColorstr='#FFF9C80D');
    background-image: -webkit-linear-gradient(top,#f6e312 0,#f9c80d 100%);
    background-image: -moz-linear-gradient(top,#f6e312 0,#f9c80d 100%);
    background-image: -o-linear-gradient(top,#f6e312 0,#f9c80d 100%);
    background-image: linear-gradient(top,#f6e312 0,#f9c80d 100%);
    white-space: nowrap;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    vertical-align: middle;
}

.collapsing {
    background-color: #f6e312;
  }

.invisible {
    display: none;
}
    .webgrid-table
    {
        width: 100%;
        display: table;
        border-collapse: separate;
        background-color: white;
    }
    .webgrid-table td, th
    {
        border: 1px solid #EAF2D3;
        padding: 3px 7px 2px;
    }

    .webgrid-header
    {
        background-color: #4C8EFA;
        color: white;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

        .webgrid-header a
    {
        color: white;
    }

    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        padding: 3px 7px 2px;
    }
    .webgrid-alternating-row
    {
        background-color: #EAF2D3;
        padding: 3px 7px 2px;
    }

.StatusMsg {
    float: left;
    width: 100%;
}

.navbar-option a {
    margin-left: 1em;
}

.navbar-option {
    border-bottom: 1px solid #faebcc;
    margin-bottom: 1em;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    color: initial !important;
    background-color: initial !important;
}

.navbar-toggle {
    background-color: #4C8EFA !important;
    border-color: #4C8EFA !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent !important;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    text-decoration: none;
    color: #ffffff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.adTitle {
    text-align: center;
    color: white;
    line-height:2em;
}

    .ad {
        border: 2px #4e69a2 solid;
        padding-top: 3em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 3em;
        min-width: 95%;
        margin: 0 auto;
        text-align: center;
        padding: 2em;
        border: 1em solid white;
    }

        .ad .casual {
            font-size: 1em;
            padding-bottom: 1em;
        }

        .ad .postFields{
            font-size:1em;
        }

/* Google custom search styling */
#g-cj4vp7
{
    position:relative;
}

 .gsc-input,
     #gsc-i-id1{
        background:none !important;
    }

    .gsc-clear-button{
        display:none;
    }

.gsc-input input{
    max-width:none;
}


/*bootstrap styling*/

.carousel a{
color:white;
text-decoration:dotted;
}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
}

.jumbotron {
    background-color: transparent !important;
    text-align:center;
}

.navbar-inverse .navbar-brand {
    color: #4C8EFA !important; 
    background-color: #fff !important;
    border:1px solid #4C8EFA;
    border-bottom-right-radius:8px;
    font-weight:300;
}

.navbar-inverse .navbar-brand:hover {
    background-color: #4C8EFA !important;
    color: #fff !important; 
}

.navbar-inverse {
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar {
    margin-bottom: 0px !important;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #4C8EFA;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
}

.lead {
    list-style: none !important;
}

.btn-primary {
    background-color: #4C8EFA !important;
    border-color: #4C8EFA !important; 
}

a{
color:#4C8EFA;
}

/* AddThis styling*/
.atss {
    position: absolute !important;
}

.addthis_32x32_style .at4-icon, .addthis_32x32_white_style .at4-icon, .at-32x32 {
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
    background-size: 1em !important;
}

.postComments {
    width: 100%;
    float: left;
    padding: 0em 1em;
font-size:0.9em;
}

.postComments .casual{
font-size:0.9em;
}
 
.postComments .casual a{
font-weight:normal;
}


   .postComments textarea {
       float:left;
    }

.commentItem {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.postComments .Votes .fa-arrow-up,
.postComments .Votes .fa-arrow-down {
    font-size:0.55em;
}


.homePage-searchOptions {
    float: left;
    line-height: 2em;
    background-color: transparent;
    border: none;
    padding: 1px 6px;
}

*,
*:after,
*:before {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

/* SOURCE: http://jsfiddle.net/techsin/TfLTR/ */

	.VH-centered {
	    font-size: 0;
	    overflow: auto;
	    text-align: center;
	    /*styling>>*/
	}
	.VH-centered::before {
	    content:'';
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	}
        .VH-centered > div {
            display: inline-block;
            font-size: 19px;
            margin: 20px;
	    max-width: 320px;
            width: 90%;
            min-height: 20px;
            min-width: 30px;
            padding: 14px;
            vertical-align: middle;
            outline: none;
        }

*:hover{
-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;
}

a,
a:hover {
	text-decoration:none;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100vw;
    line-height: 100vh;
    height: 100vh;
    overflow: visible;
    color: black;
    vertical-align: central;
    text-align: center;
    background-color: #fff;
    background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1em;
}

.postWiki {
    float: left;
    padding:1em;
}

.postOptions-horizontal {
    width: 100%;
    height: auto;
    float: left;
    padding: 1em 2em 1em 1em;
}

.postOptions-vertical {
    float: left;
    width: 10%;
    font-size: 0.8em;
}

/*.postOptions-vertical .fa{
    color: #A9A9A9;
}*/

.postCount span {
    padding: 0.5em;
    float: left;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
}

.Author {
    font-size: 0.8em;
    float: right;
    background-color: white;
    display: block;
    padding: 0.5em;
    border: 1px solid #eee;
}

.Commenter{
    font-size: 0.8em;
}
.Commenter .casual,    
.Author a {
        font-size:inherit;
    }

.wmd-input,
.wideInput{
width:70%;
max-width:none;
}

.paper{
    background-color: #fff; 
background-image: 
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1em;
}

.Warning{
    padding:10px;
     border:1px solid #ffd42c;
}

.postMeta{
    padding:0em 0em 2em 0em;
    height:2em;
    width:100%;
}

.validation-summary-errors li{
    list-style:none;
}

.field-validation-error {
      color: #a94442;
        font-size:0.8em;
}

.casual{
    display: inline-block;
    font-size: 0.9em;
    color: #A9A9A9;
    text-align: center;
}

    .casual a {
        color: inherit;
        font-weight: bold;
    }

.siteMeta{
    width: 100%;
  font-size: 0.6em;
}
.siteMeta a{
padding:1em;
}

.form-group .casual {
    float: left;
    padding: 0.5em 1em;
    width:100%;
    text-align:left;
}

.rowItem {
    float: left;
    background-color: white;
    padding: 1em 0em;
    width: 100%;
    border-bottom: 1px solid #faebcc;
}

.rowItem .fa{
font-size:0.8em;
}

.Votes div {
display:inline-block;
}

.Items .Votes {
    left: 10px;
    width: auto;
    padding: 0px 15px 0px 0px;
    display: inline-block;
    font-size: 2em;
    text-align: center;
    float:left;
}

.postTitle {
height: auto;
width:100%;
float:left;
}

.pagination {
    float: left;
}

.postFields {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    font-size: 0.8em;
    padding: 1px 1px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
    width: auto;
    margin: 2px;
}

.left {
    float: left;
    display: inline-block;
}

.middle {
    display: block;
    overflow:hidden;
    padding-left:3%;
    margin-right:auto;
    width:60%;
}

.right {
    float: right;
    display: inline-block;
}

.stripped{
background-color: white;
background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #e0eaf1 10px, #e0eaf1 40px);
}

/*SOURCE: http://lea.verou.me/css3patterns/ */
.dotted{
background:
radial-gradient(#396 15%, transparent 16%) 0 0,
radial-gradient(#396 15%, transparent 16%) 4px 4px,
radial-gradient(rgba(0,0,0,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(0,0,0,.1) 15%, transparent 20%) 4px 4px;
background-size:8px 8px;
}

.pull-down{
    bottom:10em;
    position:absolute;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


.midText {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align:center;
}
    .midText div {
    }

/*.tour*/
        div.grippie {
            background:url("../Images/Static/grippie.png") no-repeat scroll center 2px;
            border: hidden;
            cursor: s-resize;
            height: 9px;
            overflow: hidden;
        }

::-webkit-resizer {
    display:none;
}

textarea { 
    resize:vertical; 
}

span {
    font-style: italic;
    font-weight:normal;
}

.Attention{
color:#E94848;
background-color:#FFB6C1;
}

.Attention .fa{
color:#E94848;
}

.fa-flag:hover{
    color:#E94848;
}

.fa-play:hover{
    color:#ffd42c;
}

.fa-recycle:hover {
    color:#E94848;
}

.fa-plus:hover{
    color:grey;
}

.fa-refresh:hover{
    color:#50D050;
}

.fa-question,
.fa-check,
.fa-check-circle{
    color:#50D050;
}

.success{
color:#396;
}

.fa {
    padding:0px 5px;
    transition: background-color 0.3s ease-out;
}

/* Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/ */

html,
body {
/*    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;*/
font-family: 'Segoe UI';
font-weight:100;
letter-spacing:1px;
    padding-top: 0px;
    padding-bottom: 20px;
	height:100%;
    word-wrap:break-word;
}

.leftDiv {
  height: 100%;
  float: left;
}

.wrapDiv{
    overflow:hidden;
}

.midDiv {
  height: 100%;  
}

.rightDiv {
  height: 100%;
  float: right;
}

#wrapper {
	min-height:100%;
	position:relative;
}

#header {
background: #1e73be;
  padding: 2px 2px 2px 2px;
height:auto;
}

#content {
	padding-bottom:100px; /* Height of the footer element */
}

#footer {
/*position:absolute;
	background:#1e73be;*/
	width:100%;
	height:2em;
	bottom:0;
	left:0;
}

    .searchActions a {
        padding: 0.5em;
        position:relative;
        float:left;
    }

.arrow-right{
width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 10px;
display:inline-block;
border-color: transparent transparent transparent #1e73be;
}

.title {
    font-size: 1.5em;
}

.title:hover,
.title:active {
    color: initial;
}

.themeEle
{
  color:white;
  background-color:#1e73be;
  transition: background-color 0.3s ease-out;
  font-size: 0.9em;
}

.themeEle:active
{
  color:black;
  transition: background-color 0.3s ease-out;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
